# Imports

In [7]:
import pandas as pd
import os

root_dir_path = os.getcwd()
root_dir_path = os.path.abspath(os.path.split(root_dir_path)[0])

# Data modification

In [21]:
train_df = pd.read_csv(rf'{root_dir_path}/raw_data/train_val_csv.csv', delimiter= '|', encoding='utf-8')
train_df = train_df.rename(columns={'REN KOD':'clean_code', 'VERKSAMHETSKOD':'business_code', 'KONTO KOD':'account_code', 'MOTPART KOD':'counterpart_code', 'AKTIVITET KOD':'activity_code', 'Leverantör':'supplier'})
train_df = train_df.drop(columns=['RN1', 'REN TEXT', 'Kontosymbol', 'KONTO TEXT', r'EXTERN/INTERN MOTPART', 'MOTPART TEXT', 'VERKSAMHETS TEXT', 'AKTIVITET TEXT', 'Utall'])

train_df.head(1)

,clean_code,account_code,counterpart_code,business_code,activity_code,supplier,KPB AKTIVITETSKOD
0,680000,30102,EP0000,1000,NaN,NaN,A_ÖVR_504_0

In [22]:
test_df = pd.read_csv(rf'{root_dir_path}/raw_data/test_csv.csv', delimiter= '|', encoding='utf-8')
test_df = test_df.drop(columns=['RN1', 'Ren text', 'Kto text', r'Intern/extern motp', 'Motp text', 'Vht text', 'Akt text', r'Intern/Extern', 'Utfall'])
test_df = test_df.rename(columns={'REN kod':'clean_code', 'Vht':'business_code', 'Kto':'account_code', 'Motp':'counterpart_code', 'Akt':'activity_code', 'Leverantör':'supplier'})

test_df.head(1)

,clean_code,account_code,counterpart_code,business_code,activity_code,supplier
0,100251,30102,EP0000,5290,NaN,NaN

# Data saving

In [23]:
train_df.to_csv(rf'{root_dir_path}/data/train_val_csv.csv', sep= '|')
test_df.to_csv(rf'{root_dir_path}/data/test_csv.csv', sep= '|')